# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# build
node_modules
dist
dist-ssr
*.local

# editors
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# obsidian
main.js
data.json

# flake
/.pre-commit-config.yaml
