[formatter.deno]
command = "deno"
excludes = []
includes = [
    "src/",
    "deno.json",
    "manifest.json",
    "package.json",
    "tsconfig.json",
    "vite.config.ts",
]
options = ["fmt"]

[formatter.keep-sorted]
command = "keep-sorted"
excludes = []
includes = ["*"]
options = []

[formatter.nixfmt]
command = "nixfmt"
excludes = []
includes = ["*.nix"]
options = ["--width", "80", "--indent", "4"]

[global]
excludes = [
    "*.lock",
    "*.patch",
    "package-lock.json",
    "go.mod",
    "go.sum",
    ".gitattributes",
    ".gitignore",
    ".gitmodules",
    ".hgignore",
    ".svnignore",
    "LICENSE",
]
on-unmatched = "warn"
